		nav{
		display: flex;
		flex-direction: row;
		background-color: cadetblue;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 100%;
		font-size: 1.5rem;
	}
		body {
		background-color: #EBF5FB;
	}

	nav a{
		color: white;
		text-decoration: none;
	}

	header{
		display: flex;
		justify-content: flex-start;
		color: white;
		height:
		width: 100%;
		height: 20%;
		position: relative;	
		background-image: url(bande.png);	
	}

	.logo img{
		width: 50%;
		height:100%;
	}

	#t1{
		padding-top: 3%;
		text-shadow: 2px 2px cadetblue;
		font-size: 1.5rem;
	}

	#présentation {
		margin-top: 5%;
		background-color: #171e1e;
		color: #fff;
		padding: 0 1.3rem;
		line-height: 1.2em;
		border-radius: .2rem;
		text-transform: uppercase;
		font-weight: 900;
		transform: rotate(-3deg);
		display: inline-block;

	}


	.présentation{
		font-size: 1.2rem;	
		float: left;
		display: inline-flex;
		width: 50%;
		padding-left: 2%

	}
	

	.image{
		float: right;
		display: inline-flex;
		z-index: 2;
	}

	.image img{
		border-radius: 15px;
		height: 40%;
		width: 50%;
	}

	.BENG1{
		font-size: 1.2rem;	
		padding-top: 3%;
		float: right;
		display: inline-flex;
		width: 50%;
	}

	.image2{
		float: left;
		padding-left: 3%;
		padding-top: 3%;
		display: inline-flex;
		width: 30%;
	}

	.image2 img{
		border-radius: 15px;
		height: 400px;
		width: 100%
	}

	.titre2{
		color: black;
		text-transform: uppercase;
		border-radius: 10px;
		display: flex;
		padding-top: 5%;
		background: linear-gradient(to right, #36ecde, #000);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		justify-content: center;
		width: 100%;

	}


	.résaux{
		background-color: cadetblue;
		color: white;
		text-transform: uppercase;
		border-radius: 10px;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		box-shadow: 5px 5px black;
		width: 100%;

	}	
	

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa-facebook {
    color: white;
}

.fa-twitter{
	color: white;
}

.fa-instagram{
	color: white;
}

.fa-linkedin{
	color: white;
}

.fa-youtube{
	color: white;
}

@media screen and (max-width: 900px){
	header{
		height: 50px
	}
	.logo img{
		width: 70%; 
	}
	#t1{
		font-size: 0.6rem;
	}

	nav{
		font-size: 0.6rem
	}
	.présentation{
		float: none;
		width: 100%;
	}


	.image{
		float: none;
		justify-content: center;
	}

	.BENG1{
		float: none;
		width: 100%;
	}

	.image2{
		float: none;
		justify-content: center;
		width: auto;
	}

	.fa{
		width: auto;
	}

	
}